# Gemini Settings
GOOGLE_API_KEY=
MODEL= 
EMBEDDING_MODEL=

# Langsmith config
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="GestaltMETutor"
# Vectorstor
ASTRA_DB_API_ENDPOINT=
ASTRA_DB_APPLICATION_TOKEN=

STORAGE_BUCKET=
FIREBASE_CRED=
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
STORAGE_EMULATOR_HOST=http://localhost:9199
